.outer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grid{
    display: flex;
    flex-direction: row;
    flex-basis: 35%;
    background-color: black;
    overflow-x: hidden;
}

.grid img{
    height: 100%;
    margin-right: 1px;
    margin-left: 2px;
}

.appBar{
    display: flex;
    flex-basis: 30%;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.inner{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.break{
    display: none;
    height: 0px;
}

.name{
    font-family: 'Rock Salt', cursive;
    font-size: 4vh;
}

.profession{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.8vh;
    padding-left: 1em;
}

.icons{
    display: flex;
    flex-direction: row;
}

.icons img{
    padding-right: 20px;
}

#contact{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding-left: 2em;
    padding-right: 2em;
}

#contact a{
    text-decoration: none;
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
}

@media screen and (max-width: 700px){
    .grid{
        flex-basis: 50%;
    }
    .appBar{
        flex-direction: column;
        justify-content: space-evenly;
        flex-basis: 50%;
    }
    .lower{
        display: none;
    }
    .inner{
        justify-content: center;
    }
    .break{
        display: block;
    }
    .profession{
        padding-left: 0px;
    }
}